<?xml version='1.0' encoding='utf-8'?>
<plugin id="cordova-plugin-umengsdk" version="4.0.0" xmlns="http://apache.org/cordova/ns/plugins/1.0" xmlns:android="http://schemas.android.com/apk/res/android">
    <name>UMSDK</name>
    <keywords>cordova,umeng,cordova-plugin,daiwei,友盟,友盟sdk,友盟统计,友盟应用性能分析,友盟消息推送</keywords>
    <description>友盟统计 9.8.5 友盟性能监控 2.0.4 友盟消息推送 6.7.4 - 使用 Maven 依赖管理</description>
    <license>MIT</license>
    <js-module src="www/UMSDK.js" name="UMSDK">
        <clobbers target="UMSDK" />
    </js-module>
    <preference name="APPKEY" />
    <!-- android -->
    <platform name="android">
        <!-- Android SDK 现在通过 Maven 管理，不再需要手动包含 SDK 文件 -->
        <source-file src="src/android/UMPlugin.java" target-dir="src/com/umeng/plugin" />
        <config-file target="res/xml/config.xml" parent="/widget/plugins">
            <feature name="UMSDK">
                <param name="android-package" value="com.daiwei.umsdk.cdv.UMPlugin"/>
            </feature>
        </config-file>

        <config-file target="AndroidManifest.xml"  parent="/manifest">
            <uses-sdk android:minSdkVersion="19"></uses-sdk>
            <uses-permission android:name="android.permission.INTERNET" />
            <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
            <uses-permission android:name="android.permission.READ_PHONE_STATE" />
            <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
            <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
            <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
            <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
            <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
        </config-file>
        <config-file target="AndroidManifest.xml" parent="/manifest/application">
            <activity
                android:name=".MainActivity"
                android:label="@string/app_name">
                <intent-filter>
                    <action android:name="android.intent.action.VIEW" />
                    <category android:name="android.intent.category.DEFAULT" />
                    <category android:name="android.intent.category.BROWSABLE" />
                    <data android:scheme="um.$APPKEY" />
                </intent-filter>
            </activity>
        </config-file>
        <framework src="src/android/umeng.gradle" custom="true" type="gradleReference" />
    </platform>
    <!-- ios -->
    <platform name="ios">
        <!-- 插件 -->
        <header-file src="src/ios/UMPlugin.h" />
        <source-file src="src/ios/UMPlugin.m" />
        <!-- 配置 -->
        <config-file target="config.xml" parent="/widget/plugins">
            <feature name="UMSDK">
                <param name="ios-package" value="UMPlugin"/>
            </feature>
            <!--<preference name="UMENG_APPKEY" value="$UMENG_APPKEY_IOS"/>-->
            <!--<preference name="UMENG_CHANNEL" value="$UMENG_CHANNEL_IOS"/>-->
        </config-file>
        <!-- 友盟统计 -->
        <!-- iOS SDK 使用 CocoaPods 管理 -->
        <!-- 添加 CocoaPods 依赖 -->
        <podspec>
            <config>
                <source url="https://cdn.cocoapods.org/"/>
            </config>
            <pods use-frameworks="true">
                <!-- 友盟统计基础库 - 使用精确版本以确保稳定性 -->
                <pod name="UMCCommon" spec="= 7.4.2" />
                <pod name="UMCCommonLog" spec="= 2.0.0" />
                <pod name="UMDevice" spec="= 2.2.3" />
                <pod name="UMAPM" spec="= 1.8.3" />
                <!-- 友盟推送 -->
                <pod name="UMPush" spec="= 4.8.0" />
            </pods>
        </podspec>
        <!-- 系统依赖 -->
        <framework src="CoreTelephony.framework" />
        <framework src="libsqlite3.tbd"/>
        <framework src="libz.tbd"/>
        <!-- 配置 -->
        <!--<config-file target="*-Info.plist" parent="UMENG_APPKEY">
            <string>$UMENG_APPKEY_IOS</string>
        </config-file>-->
        <!--<config-file target="*-Info.plist" parent="UMENG_CHANNEL">
            <string>$UMENG_CHANNEL_IOS</string>
        </config-file>-->
    </platform>
</plugin>
