<?xml version='1.0' encoding='utf-8'?>
<plugin id="cordova-plugin-umengsdk" version="2.1.7" xmlns="http://apache.org/cordova/ns/plugins/1.0" xmlns:android="http://schemas.android.com/apk/res/android">
    <name>UMSDK</name>
    <keywords>cordova,umeng,cordova-plugin,daiwei,友盟,友盟sdk,友盟统计</keywords>
    <description>cordova 集成友盟统计</description>
    <license>MIT</license>
    <js-module src="www/UMSDK.js" name="UMSDK">
        <clobbers target="UMSDK" />
    </js-module>
    <!--<preference name="UMENG_APPKEY_ANDROID" />-->
    <!--<preference name="UMENG_CHANNEL_ANDROID" />-->
    <!--<preference name="UMENG_APPKEY_IOS" />-->
    <!--<preference name="UMENG_CHANNEL_IOS" />-->
    <!-- android -->
    <platform name="android">
        <!-- 友盟依赖 -->
        <lib-file src="src/android/umeng-common-9.4.4.jar" />
        <lib-file src="src/android/utdid4all-1.5.2.1-proguard.jar" />
        <lib-file src="src/android/umeng-abtest-v1.0.0.aar" />
        <lib-file src="src/android/umeng-apm-armeabi-v1.5.2.aar" />
        <lib-file src="src/android/umeng-asms-armeabi-v1.4.1.aar" />
        <source-file src="src/android/UMPlugin.java" target-dir="src/com/umeng/plugin" />
        <config-file target="res/xml/config.xml" parent="/widget/plugins">
            <feature name="UMSDK">
                <param name="android-package" value="com.umeng.plugin.UMPlugin"/>
                <param name="onload" value="true" />
            </feature>
            <!--<preference name="UMENG_APPKEY" value="$UMENG_APPKEY_ANDROID"/>-->
            <!--<preference name="UMENG_CHANNEL" value="$UMENG_CHANNEL_ANDROID"/>-->
        </config-file>

        <config-file target="AndroidManifest.xml"  parent="application">
            <!--<meta-data android:name="UMENG_APPKEY" android:value="$UMENG_APPKEY_ANDROID" />-->
            <!--<meta-data android:name="UMENG_CHANNEL" android:value="$UMENG_CHANNEL_ANDROID"/>-->
        </config-file>

        <config-file target="AndroidManifest.xml"  parent="/manifest">
            <uses-permission android:name="android.permission.INTERNET" />
            <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
            <uses-permission android:name="android.permission.READ_PHONE_STATE" />
            <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
            <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
            <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
            <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
            <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
        </config-file>
        <framework src="src/android/umeng.gradle" custom="true" type="gradleReference" />
    </platform>
    <!-- ios -->
    <platform name="ios">
        <!-- 插件 -->
        <header-file src="src/ios/UMPlugin.h" />
        <source-file src="src/ios/UMPlugin.m" />
        <!-- 配置 -->
        <config-file target="config.xml" parent="/widget/plugins">
            <feature name="UMSDK">
                <param name="ios-package" value="UMPlugin"/>
                <param name="onload" value="true" />
            </feature>
            <!--<preference name="UMENG_APPKEY" value="$UMENG_APPKEY_IOS"/>-->
            <!--<preference name="UMENG_CHANNEL" value="$UMENG_CHANNEL_IOS"/>-->
        </config-file>
        <!-- 友盟依赖 -->
        <framework src="src/ios/UMCommon.framework" custom="true" framework="true"/>
        <framework src="src/ios/UMCommonLog.framework" custom="true" framework="true"/>
        <framework src="src/ios/UMAPM.framework" custom="true" framework="true"/>
        <framework src="src/ios/UMDevice.framework" custom="true" framework="true"/>
        <framework src="src/ios/UMRemoteConfig.framework" custom="true" framework="true"/>
        <framework src="src/ios/UTDID.framework" custom="true" framework="true"/>
        <!-- 系统依赖 -->
        <framework src="CoreTelephony.framework" />
        <framework src="libsqlite3.tbd"/>
        <framework src="libz.tbd"/>
        <!-- 配置 -->
        <!--<config-file target="*-Info.plist" parent="UMENG_APPKEY">
            <string>$UMENG_APPKEY_IOS</string>
        </config-file>-->
        <!--<config-file target="*-Info.plist" parent="UMENG_CHANNEL">
            <string>$UMENG_CHANNEL_IOS</string>
        </config-file>-->
    </platform>
</plugin>
